@font-face {
  font-family: customFont;
  src: url("../fonts/Fredoka-VariableFont_wdth,wght.ttf");
}
body {
	background-color: #1b1b1b;
	font-family: customFont;
	font-size: 1.125rem;
}
a:link, a:visited, a:hover, a:active {
	color:	inherit;
}
h1, h2, p, a, ul {
	color:  #ffffff;
}
.article {
	text-align: center;
}
.article a {
	font-weight: bold;
	text-decoration: none;
}
.article ul {
	list-style-position: inside;
}
.article p, .article h1, .article h2, .article ul {
	margin: 0;
 	padding: 0;
}
.header {
	text-align: center;
}
.footer {
	padding-top: 5rem;
	text-align: center;
	color:#ffffff;
}
.footer a {
	font-weight: bold;
	text-decoration: none;
}
@media only screen and (max-width: 700px) {
	body {
		font-size: 1rem;
	}
	.header img {
		width: 200px;
	}
	.article ul {
		list-style-position: initial;
	}
}
