@font-face {
  font-family: customFont;
  src: url("../fonts/Fredoka-VariableFont_wdth,wght.ttf");
}
body {
	background-color: #1b1b1b;
	font-family: customFont;
	font-size: 1.125rem;
}
p {
	color:  #ffffff;
}
a:link, a:visited, a:hover, a:active {
	color:	inherit;
}
.bio {
	text-align: center;
}
.links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-top: 5rem;
	gap: 7rem;
}
.links a {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}
.links .image-container {
	display: flex;
	align-items: center;
	height: 100px;
}
.image-container img, .image-container svg {
	width: 100%;
}
.github-svg, .workout-svg {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(244deg) brightness(102%) contrast(103%);
}
.linkedin-svg {
	filter: invert(27%) sepia(99%) saturate(1045%) hue-rotate(185deg) brightness(99%) contrast(100%);
}
.github-svg, .workout-svg {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(244deg) brightness(102%) contrast(103%);
}
.linkedin-svg {
	filter: invert(27%) sepia(99%) saturate(1045%) hue-rotate(185deg) brightness(99%) contrast(100%);
}
.header {
	text-align: center;
}
.footer {
	padding-top: 5rem;
	text-align: center;
}
@media only screen and (max-width: 497px) {
	.links {
		padding-top: 2.5rem;
		gap: 4rem;
	}
}
@media only screen and (max-width: 700px) {
	body {
		font-size: 1rem;
	}
	.header img {
		width: 200px;
	}
}